<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
	<link rel = "stylesheet" type = "text/css" href = "C:\Projects\sberquiz\sberquiz\quiz\static\style_main.css">
	<link rel = "stylesheet" type = "text/css" href = "C:\Projects\sberquiz\sberquiz\quiz\static\owl.carousel.min.css">
	<!--script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/js.cookie-2.2.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script-->
	<script type="text/javascript" src="C:\Projects\sberquiz\sberquiz\quiz\static\js\jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="C:\Projects\sberquiz\sberquiz\quiz\static\js\js.cookie-2.2.0.min.js"></script>
	<script type="text/javascript" src="C:\Projects\sberquiz\sberquiz\quiz\static\js\owl.carousel.min.js"></script>
	<script type="text/javascript" src="C:\Projects\sberquiz\sberquiz\quiz\static\js\main.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134669100-1"></script>
	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134669100-1');
	</script>
</head>
<body>
<div class = "front-head">Всего сотрудники Cбербанка спасли:</div>
<div class = "topaz" style="display: none;">
	<div>Белок</div><br>
	<div class="topaz-big-font">{{squirels.finished}}</div><br>
	<div class="topaz-big-font">{{beavers.finished}}</div><br>
	<div class="topaz-big-font">{{birds.finished}}</div><br>
	<div>Вы спасли 4 белки</div><br>
</div>
<div class="owl-carousel owl-theme">
	<div class="card">
		<img class="animal" src="C:\Projects\sberquiz\sberquiz\quiz\static\04-squirrel_main.svg"/>
		<div class="saved squirrel">
			<div class="animal">белок</div>
			<div class="count">540</div>
			<div class="progressbar"><span style="width: 25%"></span></div>
			<div class="you-saved">Вы спасли <span class="squirrel your">4</span> белки</div>
		</div>
		<div class="test squirrel" style="display:none;">
			<div class="text">Информация будет доступна после прохождения теста.</div>
			<div class="progressbar"><span style="width: 25%"></span></div>
			<div class="you-saved">Вы спасли 0 белок</div>
			<a href="#" class="save-button">Спасти&nbsp;белок</a>
		</div>
	</div>
	<div class="card">
		<img class="animal" src="C:\Projects\sberquiz\sberquiz\quiz\static\05-bird_main.svg"/>
		<div class="saved bird" style="display:none;">
			<div class="animal">белок</div>
			<div class="count">540</div>
			<div class="progressbar"></div>
			<div class="you-saved">Вы спасли <span class="bird saved">4</span> птички</div>
		</div>
		<div class="test bird">
			<div class="text">Информация будет доступна после прохождения теста.</div>
			<div class="progressbar"><span style="width: 25%"></span></div>
			<div class="you-saved">Вы спасли 0 птичек</div>
			<a href="#" class="save-button">Спасти&nbsp;птичек</a>
		</div>
	</div>
	<div class="card">
		<img class="animal" src="C:\Projects\sberquiz\sberquiz\quiz\static\06-beaver_main.svg"/>
		<div class="saved beaver" style="display:none;">
			<div class="animal">бобров</div>
			<div class="count">540</div>
			<div class="progressbar"></div>
			<div class="you-saved">Вы спасли <span class="beaver saved">4</span> бобра</div>
		</div>
		<div class="test beaver" style="display:none;">
			<div class="text">Информация будет доступна после прохождения теста.</div>
			<div class="progressbar"></div>
			<div class="you-saved">Вы спасли 0 бобров</div>
			<a href="#" class="save-button">Спасти&nbsp;птичек</a>
		</div>
	</div>
</div>
</body>
</html>