{% load static %}
{% static "" as baseUrl %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Спасаем птичек, белочек и бобров</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
	<link rel="stylesheet" type = "text/css" href="{% static 'style_main.css' %}">
	<link rel="stylesheet" type = "text/css" href="{% static 'owl.carousel.min.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/js.cookie-2.2.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134669100-1"></script>
	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134669100-1');
	</script>
</head>
<body>
<div class="container">
	<div class = "front-head">Всего сотрудники Cбербанка спасли:</div>
	<div class="owl-carousel owl-theme">
		<div class="card">
			<img class="animal" src="{{ baseUrl }}04-squirrel_main.svg"/>
			<div class="saved squirrel" style="display:none;">
				<div class="animal">белок</div>
				<div class="squirrel count">{{squirrels.finished}}</div>
				<div class="progressbar"><span class="squirrel progress" style="width: 0%"></span></div>
				<div class="you-saved">Вы спасли <span class="squirrel your">4</span> белки</div>
			</div>
			<div class="test squirrel" style="display:none;">
				<div class="text">Информация будет доступна после прохождения теста.</div>
				<div class="progressbar"></div>
				<div class="you-saved">Вы спасли 0 белок</div>
				<button onclick="location.href = '/squirrel'" class="save-button">Спасти&nbsp;белок</button>
			</div>
		</div>
		<div class="card">
			<img class="animal" src="{{ baseUrl }}05-bird_main.svg"/>
			<div class="saved bird" style="display:none;">
				<div class="animal">птичек</div>
				<div class="bird count">{{birds.finished}}</div>
				<div class="progressbar"><span class="bird progress" style="width: 0%"></span></div>
				<div class="you-saved">Вы спасли <span class="bird your">4</span> птички</div>
			</div>
			<div class="test bird" style="display:none;">
				<div class="text">Информация будет доступна после прохождения теста.</div>
				<div class="progressbar"></div>
				<div class="you-saved">Вы спасли 0 птичек</div>
				<button onclick="location.href = '/bird'" class="save-button">Спасти&nbsp;птичек</button>
			</div>
		</div>
		<div class="card">
			<img class="animal" src="{{ baseUrl }}06-beaver_main.svg"/>
			<div class="saved beaver" style="display:none;">
				<div class="animal">бобров</div>
				<div class="beaver count">{{beavers.finished}}</div>
				<div class="progressbar"><span class="beaver progress" style="width: 0%"></span></div>
				<div class="you-saved">Вы спасли <span class="beaver your">4</span> бобра</div>
			</div>
			<div class="test beaver" style="display:none;">
				<div class="text">Информация будет доступна после прохождения теста.</div>
				<div class="progressbar"></div>
				<div class="you-saved">Вы спасли 0 бобров</div>
				<button onclick="location.href = '/beaver'" class="save-button">Спасти&nbsp;бобров</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>