{% load static %} {% static "" as baseUrl %}
<!DOCTYPE html>
<html>
    <head>
        <title>Вопрос {{ quest_current }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> -->
        <meta name="viewport" content="width=1000">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" type="text/css" href="{% static 'style_go.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'owl.carousel.min.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/js.cookie-2.2.0.min.js' %}"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134669100-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-134669100-1');
        </script>
    </head>
    <body>
        <main>
            <div class="header-row">
                <div class="centered">
                    <div class="header">
                        {% if quiz.slug == 'bird' %} Спасаем птичек {% endif %}
                        {% if quiz.slug == 'squirrel' %} Спасаем белочек {% endif %}
                        {% if quiz.slug == 'beaver' %} Спасаем бобров {% endif %}
                    </div>
                    <div class="count">{{ quest_current }} / {{ quest_all }}</div>
                </div>
                <div class="small-animal">
                    <img src="/static/{{ quiz.slug }}.svg" />
                    <div class="number-wrapper">
                        <span class="number">3</span>
                    </div>
                </div>
            </div>
            <section class="main-section" id="mainSection">
                <div class="question-wrapper">
                    <span>
                        {{ question.description }}
                    </span>
                </div>

                <div class="answers-wrapper">
                    <ul>
                        {% for ans in answers %}
                        <li>
                            <input type="radio" value="{{ ans.slug }}" name="radio1" id="{{ ans.slug }}" />
                            <label for="{{ ans.slug }}" class="answer">
                                <span>{{ ans.description }}</span>
                            </label>
                        </li>
                        <div class="hint" id="hint-{{ ans.slug }}">
                            {{ ans.hint | safe }}
                        </div>
                        {% endfor %}
                    </ul>
                </div>

                <div class="button" id="submitButton" class="disabled">
                    <span class="whitetext">Ответить</span>
                </div>
            </section>
            <section class="main-section hidden"  id="hiddenSection">
                <div id="result">
                    
                </div>
            </section>
        </main>
        <div class="hidden" id="successAnswer">
            <div class="success-answer-text">
                Отлично! <br /> Вы спасли 
                {% if quiz.slug == 'bird' %} птичку {% endif %}
                {% if quiz.slug == 'squirrel' %} белочку {% endif %}
                {% if quiz.slug == 'beaver' %} бобра {% endif %}
            </div>
            <div class="cloud">
                <img src="/static/like.svg">
                <span class="number">
                    1
                </span>
            </div>
            <div class="happy-animal">
                <img src="/static/02-{{ quiz.slug }}-correct.svg">
            </div>
        </div>

        <div class="hidden" id="errorAnswer">
            <div class="error-answer-text">
                
            </div>
            
            <div class="mistake-animal">
                <img src="/static/02-{{ quiz.slug }}-mistake.svg">
            </div>
        </div>

        </div>
        <script>
            $(document).ready(function() {
                var animal = '{{ quiz.slug }}';
                var redirectURL = '{{ next }}';
                var correctLetter = '{{ question.correct_ans }}';
                var inputA = $("input#a");
                var inputB = $("input#b");
            
                var hintA = $("#hint-a").html();
                var hintB = $("#hint-b").html();

                var submitButton = $("#submitButton");
                submitButton.addClass("disabled");
                var isCorrect = false;
                var currentAnswer = null;

                var mainSection = $("#mainSection");
                var resultSection = $("#hiddenSection");

                var successAnswerHtml = $("#successAnswer").html();
                var errorAnswerHtml = $("#errorAnswer").html();

                $("body").height($(window).outerHeight());

                if(!getCookie()) {
                    Cookies.set('{{ quiz.slug }}', 0, { expires: 365, path: '/' });
                }              

                $(".small-animal .number-wrapper span").text(getCookie());

                inputA.change(function(){
                    currentAnswer = 'a';
                    submitButton.removeClass("disabled");
                    if(inputA.val() == correctLetter) {
                        isCorrect = true;
                    } else {
                        isCorrect = false;
                    }
                });
                inputB.change(function () {
                    currentAnswer = 'b';
                    submitButton.removeClass("disabled");
                    if (inputB.val() == correctLetter) {
                        isCorrect = true;
                    } else {
                        isCorrect = false;
                    }
                });
                submitButton.click(function() {
                    if(submitButton.hasClass("disabled")) {
                        return;
                    }
                    if(isCorrect) {
                        resultSection.removeClass("hidden");
                        mainSection.addClass("hidden");
                        resultSection.html(successAnswerHtml);
                        $.get("/add/{{ quiz.slug }}");
                        incrementCookies();
                         $(".small-animal .number-wrapper span").text(getCookie());
                        setTimeout(function() {
                            if(!(Cookies.get('noRedirect') == 1))
                                window.location.href = redirectURL;
                        }, 2000);
                    } else {
                        var html;
                        if(currentAnswer == "a") {
                            html = hintA;
                        } else {
                            html= hintB;
                        }
                        resultSection.removeClass("hidden");
                        mainSection.addClass("hidden");
                        resultSection.html(errorAnswerHtml);
                        $(".error-answer-text").html($.parseHTML(html));
                        setTimeout(function () {
                            if(!(Cookies.get('noRedirect') == 1))
                                window.location.href = redirectURL;
                        }, 4500);
                    }
                });
            });

            function getCookie() {
                return Cookies.get('{{ quiz.slug }}');
            }
            function incrementCookies() {
                Cookies.set('{{ quiz.slug }}', +getCookie() + 1 , { expires: 365, path: '/' });
            }
        </script>
    </body>
</html>
