{% load static %}
{% static "" as baseUrl %}
<html>
<head>
	<title>Ура!</title>
	<meta name="viewport" content="width=1000">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>
	<link rel="stylesheet" type = "text/css" href="{% static 'style_finish.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/js.cookie-2.2.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/finish.js' %}"></script>
	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-134669100-1');
	</script>
</head>
<body>
<div class='content'>
	<div class='result' style="background-image: url('{{ baseUrl }}background-done.svg');">
		<div class="result-message">
			<div>Ура!<br>
				Ваши знания<br>
				спасли<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				жизни
				{% if quiz.slug == 'bird' %} птичек {% endif %}
				{% if quiz.slug == 'squirrel' %} белок {% endif %}
				{% if quiz.slug == 'beaver' %} бобров {% endif %}
				!
			</div>
			<div class="text-result" data-animal="{{quiz.slug}}"></div>
		</div>
		<!--<div class="text-top">-->
		<!--</div>-->
		<!--<div class="text-bottom">жизни белок!</div>-->
	</div>
	<div class="text">
		<div>Главное – не забывайте</div>
		<div>применять их в жизни</div>
	</div>

	<div class="bottom-img" style="background-image: url('{{ baseUrl }}03-{{quiz.slug}}-done.svg');"></div>
	<script>
		setTimeout(function() {
			if(!(Cookies.get('noRedirect') == 1))
		    	location.href = '/';
		}, 4500);
        $(document).ready(function(){
             $(".content").height($(window).outerHeight());
        });
	</script>
</div>
</body>
</html>
