{% load static %}
{% static "" as baseUrl %}
<html>
<head>
	<title>Начать тест</title>
	<meta name="viewport" content="width=1000">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>
	<link rel="stylesheet" type = "text/css" href="{% static 'style_start.css' %}">
	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-134669100-1');
	</script>
</head>
<body>
<div class='content'>
	<div class='title'>
		<div>Наш мир</div>
		<div>—</div>
		<div>экосистема</div>
	</div>
	<div class="text">
		Экономить бумагу легко, когда знаешь, как это делать.
		Отвечайте на вопросы и получайте полезные советы.
		Каждый правильный ответ спасает животное.
	</div>
	<button class="button" onclick="location.href = '/questions/{{quiz.slug}}/1'">
		{% if quiz.slug == 'bird' %} Спасти птичек {% endif %}
		{% if quiz.slug == 'squirrel' %} Спасти белочек {% endif %}
		{% if quiz.slug == 'beaver' %} Спасти бобров {% endif %}
	</button>
	<div class="bottom-img" style="background-image: url('{{ baseUrl }}01-{{quiz.slug}}-start.svg');"></div>
</div>
</body>
</html>
