@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');
html 	{
	text-align: center;
	color: #595977;
	font-family: 'Open Sans', sans-serif;
	line-height: 55pt;
	font-size: 34pt; 
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
}
h1 {
	font-size: 18pt;
	line-height: 25pt;
}
.button
{
	background-color: #14d2b8;
	border: none;
	border-radius: 75px;
	text-decoration: none;
	display: inline-block;
	height: 100px;
	width: 450px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.whitetext {
	color: white;
	font-size: 25pt;
	line-height: 20pt;
	}
.question {
	font-size: 38pt;
	line-height: 55pt;
	}
.answer {
	font-size: 27pt;
	line-height: 35pt;
	color: #6C7B8A;
	width:700px;
  	display: inline-block;
	/*padding-top: 57px;
	padding-bottom: 57px;
	/*padding-top: 57px;
	padding-bottom: 57px*/
}
.topaz {
		color: white;
		border-radius: 75px;
		background-color: #14d2b8;
		height: 50%;
		text-align: left;
		padding-left: 100px;
}
.topaz-big-font
	{
	font-size: 200pt;
	line-height: 55pt;
	}
.front-head {
	font-size: 25pt;
	line-height: 31pt;
	padding: 44px 25px;
}
ul {
    list-style: none;
}
input {
	visibility:hidden;
}
label {
    cursor: pointer;
}
input:checked + label{
		/*width: 100px;
		/*padding-top: 57px;
		padding-bottom: 57px;*/
		border-radius: 75px;
		box-shadow: 6px 6px 6px -6px #000000;
		background-repeat: no-repeat;
		background-position: left center;
		background-image: url("choose.svg");
}

.owl-carousel {
	box-sizing: border-box;
	padding: 0 30px;
	display: block;
	width: 100%;
	z-index: 1;
}

.owl-item {
	display: inline-block;
	width: 80%;
	padding: 10px 7px;
	box-sizing: border-box;
}

.owl-nav, .owl-dots {
	display: none;
}
.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: initial !important;
	-webkit-transform: translate3d(0,0,0);
}

.card {
	width: 100%;
	height: 400px;
	border-radius: 30px;
	background-color: #14d2b8;
	position: relative;
}

.card>img.animal {
	position: absolute;
	height: 30pt;
	left: 30px;
	top: 30px;
	width: auto !important;
}

.saved, .test {
	padding-top: 88px;
	text-align: left;
	margin: 0 30px;
	color: white;
}

.saved div.animal {
	font-size: 28px;
}
.saved div.count {
	font-size: 118px;
	padding: 0 0 61px;
}
.saved div.you-saved {
	font-size: 16px;
}

.test div.you-saved {
	font-size: 16px;
	line-height: 41px;
}

.test .text {
	text-align: center;
	font-size: 17px;
	line-height: 27px;
	padding-bottom: 30px;
	padding-top: 50px;
}

.save-button {
	height: 56px;
	box-sizing: border-box;
	display: block;
	text-align: center;
	width: 85%;
	margin: 0 auto;
	-webkit-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	overflow: hidden;
	font-size: 19px;
	border: 2px solid;
	color: #fff;
	border-radius: 35px;
	outline: none !important;
	text-decoration: none !important;
	background-color: #14d2b8;
	margin-top: 27px;
}

.progressbar {
	height: 6px;
	position: relative;
	background: white;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.progressbar > span {
	display: block;
	height: 100%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #0eb29c;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 600px;
	display: block;
	margin: 0 auto;
	overflow: hidden;
}