html 	{
	text-align: center;
	color: #595977;
	font-family: "OpenSans-Bold", Georgia, Serif;
	line-height: 55pt;
	font-size: 34pt; 
	height: 100%;
}
body {height: 100%; }
h1 {
	font-size: 71pt;
	line-height: 73pt;
}
.button
{
	background-color: #14d2b8;
	border: none;
	border-radius: 75px;
	text-decoration: none;
	display: inline-block;
	height: 100px;
	width: 450px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.whitetext {
	color: white;
	font-size: 25pt;
	font-family: "OpenSans-Bold", Georgia, Serif;
	line-height: 20pt;
	}
.question {
	font-family: "OpenSans-Bold", Georgia, Serif;
	font-size: 38pt;
	line-height: 55pt;
	}
.answer {
	font-family: "OpenSans-Regular", Georgia, Serif;
	font-size: 27pt;
	line-height: 35pt;
	color: #6C7B8A;
	width:700px;
  	display: inline-block;
	/*padding-top: 57px;
	padding-bottom: 57px;
	/*padding-top: 57px;
	padding-bottom: 57px*/
}
.topaz {
		color: white;
		border-radius: 75px;
		background-color: #14d2b8;
		height: 50%;
		text-align: left;
		padding-left: 100px;
}
.topaz-big-font
	{
	font-family: "OpenSans-Bold", Georgia, Serif;
	font-size: 200pt;
	line-height: 55pt;
	}
.front-head {
	font-family: "OpenSans-Bold", Georgia, Serif;
	font-size: 58pt;
	line-height: 90pt;
}
ul {
    list-style: none;
}
input {
	visibility:hidden;
}
label {
    cursor: pointer;
}
input:checked + label{
		/*width: 100px;
		/*padding-top: 57px;
		padding-bottom: 57px;*/
		border-radius: 75px;
		box-shadow: 6px 6px 6px -6px #000000;
		background-repeat: no-repeat;
		background-position: left center;
		background-image: url("choose.svg");
}
