@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.content {
    width: 750pt;
    height: 100%;
    /* min-height: 2056px; */
    padding: 20pt 20pt 0;
    position: relative;
}

.result {
    height: 806pt;
    width: 710pt;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 104px; */
    background-position: 0 -120pt;
}

.result-message {
    font-family: 'Open Sans', sans-serif;
    color: rgb(59, 59, 77);
    text-align: center;
    font-size: 48pt;
    line-height: 55pt;
    margin: -37pt 21pt 0;
    padding-top: 104pt;
    height: 771pt;
    width: 668pt;
    position: relative;
    font-weight: 700;
}

.text-top, .text-bottom {
    font-family: 'Open Sans', sans-serif;
    color: rgb(59, 59, 77);
    text-align: center;
    font-size: 48pt;
    line-height: 55pt;
}

.text-result {
        font-family: 'Open Sans', sans-serif;
    width: 668pt;
    color: rgb(20, 210, 184);
    text-align: center;
    line-height: 55pt;
    font-size: 200pt;
    position: absolute;
    bottom: 350pt;
}

.text {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 45pt;
    font-size: 32pt;
    letter-spacing: -0.36pt;
    color: rgb(21, 21, 28);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -180pt;
}

.bottom-img {
    position: absolute;
    height: 392pt;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}