@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.content {
    width: 750pt;
    height: 100%;
    padding: 120pt 41pt 0;
    position: relative;
    text-align: center;
    min-height: 1777px;
}

.title {
    color: rgb(59, 59, 77);
    text-align: center;
    font-size: 62pt;
    line-height: 73pt;
    height: 220pt;
    width: 668pt;
    position: relative;

}

.text {
    text-align: center;
    line-height: 55pt;
    font-size: 28pt;
    letter-spacing: 0;
    color: rgb(59, 59, 77);
    margin: 55pt 79pt 0;
}

.button {
    width: 450pt;
    height: 100pt;
    border-radius: 50pt;
    background-color: rgb(20, 210, 184);
    color: rgb(255, 255, 255);
    font-size: 25pt;
    text-align: center;
    line-height: 20pt;
    letter-spacing: 2.78pt;
    border: none;
    outline: none;
    margin: 47pt auto 0;
}

.bottom-img {
    position: absolute;
    height: 392pt;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}