@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,ExtraBold&subset=latin-ext');
* {
    font-family: 'Open Sans', sans-serif;
}
html {
    text-align: center;
    color: #595977;
    font-family: 'Open Sans', sans-serif;
    font-size: 34pt;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* height: 1624pt; */
    width: 750pt;
    max-height: 100%;
    overflow: hidden;
}
@media all and (orientation: landscape) {
    body {
        overflow: auto;
    }
}
h1 {
    font-size: 71pt;
    line-height: 73pt;
}
.button {
    background-color: #14d2b8;
    border: none;
    border-radius: 75px;
    text-decoration: none;
    display: inline-block;
    height: 100pt;
    width: 450pt;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button.disabled {
    background-color: #6c7b8a;
}
.whitetext {
    color: white;
    font-size: 25pt;
    font-family: 'Open Sans', sans-serif;
    line-height: 20pt;
    letter-spacing: 2.78pt;
    text-decoration: none;
}
.question {
    font-family: 'Open Sans', sans-serif;
    font-size: 38pt;
    line-height: 55pt;
}
.answer {
    font-family: 'Open Sans', sans-serif;
    font-size: 27pt;
    line-height: 45pt;
    color: #6c7b8a;
    width: 669pt;
    min-height: 114pt;
    padding-left: 118pt;
    padding-right: 118pt;
    padding-top: 12pt;
    padding-bottom: 12pt;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /*padding-top: 57px;
	padding-bottom: 57px;
	/*padding-top: 57px;
	padding-bottom: 57px*/
}
.topaz {
    color: white;
    border-radius: 75px;
    background-color: #14d2b8;
    height: 50%;
    text-align: left;
    padding-left: 100px;
}
.topaz-big-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 200pt;
    line-height: 55pt;
}
.front-head {
    font-family: 'Open Sans', sans-serif;
    font-size: 58pt;
    line-height: 90pt;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50pt;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
input {
    visibility: hidden;
    display: none;
}
label {
    cursor: pointer;
}
input:checked + label {
    /*width: 100px;
		/*padding-top: 57px;
		padding-bottom: 57px;*/
    border-radius: 75px;
    background-repeat: no-repeat;
    /* background-position: left center; */
    background-image: url('choose.svg');
    background-position: 34pt 50%;
    background-size: 50pt 50pt;
    box-shadow: 0px 6px 17px 2px rgba(0, 0, 0, 0.15);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-row .centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-row .centered .header {
    text-transform: uppercase;
    font-size: 26pt;
    line-height: 20pt;
    letter-spacing: 2.89pt;
    font-weight: 600;
}
.header-row .centered .count {
    color: #14d2b8;
    font-size: 20pt;
    line-height: 20pt;
    margin-top: 11pt;
}
.header-row .small-animal {
    position: absolute;
    right: 0;
    width: 49pt;
    height: 39pt;
    background-size: contain;
    background-repeat: no-repeat;
}
.header-row .small-animal img {
    width: 100%;
}

.header-row .small-animal .number-wrapper {
    position: absolute;
    font-size: 20px;
    background-color: #14d2b8;
    width: 21pt;
    height: 21pt;
    border-radius: 50%;
    bottom: -10px;
    left: -5px;
}
.header-row .small-animal .number-wrapper .number {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 20px;
}
main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 41pt;
    /* min-height: calc(100% - 82pt); */
    min-height: 100%;
    overflow: auto;
}

.main-section {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-section b {
    font-weight: 900;
}

.main-section .question-wrapper {
    font-size: 30pt;
    font-weight: bold;
    line-height: 55pt;
    margin-bottom: 89pt;
    /* margin-top: 292pt; */
}

.hint {
    display: none;
}

.hidden {
    display: none;
}

.success-answer-text,
.error-answer-text {
    font-size: 30pt;
    line-height: 55pt;
    color: #3b3b4d;
    font-weight: 700;
    margin-top: -300pt;
}

.cloud {
    width: 200pt;
    bottom: 400pt;
    position: absolute;
}
.cloud img {
    width: 100%;
}
.cloud span {
    position: absolute;
    font-size: 54pt;
    font-weight: bold;
    color: white;
    top: 25pt;
    left: 89pt;
}
.happy-animal,
.mistake-animal {
    position: absolute;
    bottom: -50pt;
    /* width: 446pt; */
    /* height: 265pt; */
}
.happy-animal img {
    height: auto;
    width: 475pt;
}
.mistake-animal img {
    height: auto;
    width: 475pt;
}
